
.input-wrapper{
    color: var(--text-primary);
    font-size: 16px;
    text-align: start;
    margin-bottom: 10px;

    .input-content{
        display: flex;
        width: 100%;
       
        .icon{
            padding: 12px;
            background-color: var(--primary);
            border-radius: 0 8px 8px 0;


            img {
                height: 20px;
                filter: invert();
            }
            
        }


        input{
            background-color: var(--secondary-bg);
            border-radius: 8px 0 0 8px;
            border: none;
            font-size: 16px ;
    
            padding: 12px 0 12px 20px;
            color:var(--text-primary);
            width: 100%;
        }
    }
}
